.example-data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    margin-bottom: 255px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.example-data__weight {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid $special-grey;
  border-radius: 2px;
  width: 44%;
  height: 56px;

  @media (min-width: $tablet-width) {
    width: 22.9%;
    margin-right: 42px;
    height: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 34%;
    height: 69px;
  }

  &::before {
    content: "снижение веса";
    font-family: $Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: $special_dark-grey;
    position: absolute;
    height: 9px;
    width: 77px;
    background-color: $basic-gray;
    left: 50%;
    top: 48px;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      background-color: $basic-white-color;
      font-size: 14px;
      line-height: 14px;
      width: 120px;
      padding: 0;
      top: 60px;
    }

    @media (min-width: $desktop-width) {
      background-color: $basic-gray;
      top: 62px;
    }
  }
}

.example-data__days {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid $special-grey;
  border-radius: 2px;
  width: 44%;
  height: 56px;

  @media (min-width: $tablet-width) {
    width: 22.5%;
    height: 67px;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 34%;
    height: 72px;
  }

  &::before {
    content: "затрачено времени";
    font-family: $Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: $special_dark-grey;
    position: absolute;
    height: 9px;
    width: 77px;
    background-color: $basic-gray;
    left: 50%;
    top: 48px;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      background-color: $basic-white-color;
      font-size: 14px;
      line-height: 14px;
      width: 130px;
      top: 60px;
      padding: 0 10px;
    }

    @media (min-width: $desktop-width) {
      background-color: $basic-gray;
      top: 64px;
    }
  }
}

.example-data__expenses {
  padding-top: 34px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: end;
    padding-top: 10px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    padding-top: 55px;
  }
}

.example-data__expenses-words {
  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 3px;
  }
}

.example-data__expenses-amount {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 9px;
    padding-left: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
    padding-left: 63px;
  }
}

.example-data__block-number {
  font-size: 24px;
  line-height: 24px;
  color: $basic-black-color;
  text-transform: uppercase;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 17px;
  }
}

.example-data__block-description {
  font-family: $Arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: transparent;
}
