.example-pictures {
  display: flex;
  width: 320px;
  position: relative;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 380px;
    justify-content: center;
  }
}

.example-pictures__fat {
  position: absolute;
  height: 242px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: 335px;
    height: 620px;
    overflow: hidden;
    top: 60px;
    left: -177px;
  }

  @media (min-width: $desktop-width) {
    width: 365px;
    height: 515px;
    top: -415px;
    left: -240px;
  }

  &--visible {
    opacity: 1;

    @media (min-width: $tablet-width) {
      width: 800px;
    }
  }

  &--invisible {
    opacity: 0;
  }
}

.example-pictures__slim {
  position: relative;
  left: 40px;
  top: -10px;
  opacity: 0;

  @media (min-width: $tablet-width) {
    width: 455px;
    height: 620px;
    top: 70px;
    left: 26px;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    top: -410px;
    left: -48px;
    height: 0;
  }

  &--visible {
    opacity: 1;
  }

  &--invisible {
    opacity: 0;

    @media (min-width: $tablet-width) {
      opacity: 0;
    }
  }
}

.example-pictures__fat-cat-image {
  width: 311px;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 675px;
    height: 530px;
  }
}

.example-pictures__slim-cat-image {
  width: 251px;
  height: 240px;

  @media (min-width: $tablet-width) {
    width: 445px;
    height: 515px;
  }

  @media (min-width: $desktop-width) {
    width: 490px;
  }
}
