.general-info {
  width: 100%;
  height: 302px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin-top: -2px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-mobile@2x.jpg");
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    width: (709px*100%)/$tablet-width;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: block;
    width: (1220px*100%)/$desktop-width;
  }
}

.general-info__wrapper {
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin: 0;
  }
}

.general-info__headline {
  text-align: center;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 0;
  font-size: 36px;
  line-height: 36px;
  color: $basic-white-color;
  height: 72px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    width: 452px;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black-color;
    padding-top: 48px;
    margin-left: 87px;
    text-align: start;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 93px;
    margin-left: 80px;
    height: auto;
  }
}

.general-info__motto {
  text-align: center;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic-white-color;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 87px;
    padding-top: 40px;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black-color;
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    padding-bottom: 52px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 270px;
    left: 0;
    top: 70px;
    background-image: url("../img/index-can-mobile.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
      background-size: contain;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/index-can-tablet.png");
      height: 609px;
      left: -44px;
      top: 80px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can-tablet@2x.png");
        background-size: 709px;
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/index-can.png");
      height: 500px;
      left: 379px;
      top: -200px;
      z-index: 4;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can@2x.png");
        background-size: 552px;
      }
    }
  }
}

.general-info__form-button {
  display: block;
  min-width: 200px;
  padding: 11px 0;
  margin-top: 305px;
  font-size: 14px;
  line-height: 18px;
  color: $basic-white-color;
  background-color: $basic-green;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 244px;
    height: 54px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-left: 82px;
    margin-top: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }

  &:hover {
    background-color: $special-green-hover;
  }

  &:active {
    background-color: $special-green-hover;
    color: $special-white-active;
  }
}
