.header-wrapper-container {
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: (709px*100%)/$tablet-width;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
  }

  @media (min-width: $desktop-width) {
    width: (1220px*100%)/$desktop-width;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}
