.header-main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  position: relative;
  margin-top: 13px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    width: 50%;
  }
}

.header-main__logo--center {
  display: block;
  justify-self: center;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-main__logo img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header-main__logo--big-size-pages {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header-main__toggle-navigation {
  position: absolute;
  top: 1px;
  right: -5px;
  width: 35px;
  height: 34px;
  background-color: $basic-white-color;
  border-color: transparent;
  outline: none;

  &--closed {
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 5px;
      width: 25px;
      height: 2px;
      background-color: $basic-black-color;
      box-shadow: 0 8px 0 0 $basic-black-color, 0 16px 0 0 $basic-black-color;
    }
  }

  &--opened {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 17px;
      left: 6px;
      width: 24px;
      height: 2px;
      background-color: $basic-black-color;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-main__toggle-navigation:active {
  border-color: transparent;
}

.header-main__toggle-navigation:focus-visible {
  border-color: $basic-black-color;
}
