.header {
  position: relative;
}

.header--index-page::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 694px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop.jpg");
    background-position: right;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop@2x.jpg");
    }
  }
}
