.main-navigation {
  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.main-navigation--js-active {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-navigation--other-pages {
  @media (min-width: $desktop-width) {
    position: static;
    background: none;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: $menu-item-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
