.main-wrapper-container {
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: (709px*100%)/$tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: (1220px*100%)/$desktop-width;
    position: relative;
  }

  &--form-page {
    @media (min-width: $tablet-width) {
      margin-left: (70px*100%)/$tablet-width;
    }

    @media (min-width: $desktop-width) {
      margin-left: auto;
    }
  }
}
