.wrapper-contacts-container {
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: (709px*100%)/$tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: (570px*100%/$desktop-width);
    position: absolute;
    top: 103px;
    left: (110px*100%)/$desktop-width;
  }

  &--form-page {
    @media (min-width: $desktop-width) {
      top: 95px;
    }
  }
}
