.product-more-items {
  display: block;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white-color;
    display: flex;
    border: 2px solid $basic-gray;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 45.7%;
    margin-bottom: 0;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 20.1%;
    height: 430px;
    margin-top: 147px;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: $gray-line-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: $gray-line-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.product-more-items__headline {
  position: relative;
  margin: 0;
  padding-top: 78px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: $special-black-color;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-top: 159px;
    padding-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 26px;
    left: 45%;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 48px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus-big.svg");
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      top: 49px;
    }
  }
}

.product-more-items__description {
  font-family: $Arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding-bottom: 21px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 60%;
    padding-bottom: auto;
  }

  @media (min-width: $desktop-width) {
    width: 70%;
  }
}

.product-more-items__button {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey;
  background-color: $basic-gray;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 78%;
    height: 39px;
    margin-top: auto;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 69%;
    height: 40px;
  }

  &:hover {
    background-color: $gray-line-color;
  }

  &:active {
    color: $special_dark-gray-active;
  }
}
