.questionnaire-owner {
  //@include outline;

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.questionnaire-owner__headline {
  @include font-size-24;
  font-weight: normal;
  width: 72%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 33px;
  position: relative;

  @media (min-width: $tablet-width) {
    @include font-size-36;
    width: 80%;
    padding-top: 72px;
    padding-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      height: 2px;
      width: 15%;
      max-width: 115px;
      top: 96px;
      left: -120px;
      background-color: $basic-green;
    }

    @media (min-width: $desktop-width) {
      top: 29px;
      left: -155px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 51%;
    left: 100%;
    top: 42px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 96px;
      left: 545px;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      top: 29px;
      left: 550px;
    }
  }
}
