.questionnaire-extra-info {
  //@include outline;
  position: relative;

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.questionnaire-extra-info__headline {
  @include font-size-24;
  font-weight: normal;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    @include font-size-36;
    padding-top: 46px;
    padding-bottom: 80px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 76px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      height: 2px;
      width: 15%;
      max-width: 115px;
      top: 70px;
      left: -145px;
      background-color: $basic-green;
    }

    @media (min-width: $desktop-width) {
      top: 68px;
      left: -155px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 56%;
    left: 51%;
    top: 22px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 70px;
      left: 31%;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      top: 68px;
      left: 18%;
    }
  }
}

.questionnaire-extra-info__comments {
  width: 98%;
  height: 148px;
  font-size: 16px;
  line-height: 30px;
  font-family: $Oswald;
  font-weight: normal;
  border: 1px solid $border-gray;

  @media (min-width: $tablet-width) {
    width: 88%;
    height: 170px;
    margin-right: (39px*100%)/$tablet-width;
    text-indent: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 2px;
  }

  &::placeholder {
    font-family: $Oswald;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: $special_dark-grey;
    text-align: center;

    @-moz-document url-prefix("") {
      opacity: 1;
    }

    @media (min-width: $tablet-width) {
      @include font-size-20;
      display: block;
      text-align: justify;
      line-height: 42px;
    }
  }
}

.questionnaire-extra-info__comments:hover {
  border-color: $special-grey;
}

.questionnaire-extra-info__comments:focus {
  border-color: $special_dark-grey;
  border-width: 2px;
}
