.questionnaire-pet-info {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: $menu-item-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.questionnaire-pet-info__data {
  display: flex;
  color: $special_dark-grey;
  text-transform: uppercase;
}

.questionnaire-pet-info__data-name {
  display: block;
  padding-top: 14px;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    @include font-size-20;
    padding-top: 12px;
  }
}

.questionnaire-pet-info__data-weight {
  display: block;
  padding-top: 12px;
  flex-shrink: 0;
  width: 60px;

  @media (min-width: $tablet-width) {
    @include font-size-20;
    width: 75px;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 80px;
  }
}

.questionnaire-pet-info__data-age {
  display: block;
  padding-top: 13px;
  flex-shrink: 0;
  width: 95px;

  @media (min-width: $tablet-width) {
    @include font-size-20;
    padding-top: 11px;
    padding-bottom: 74px;
    width: 120px;
  }
}

.questionnaire-pet-info__data-field {
  display: block;
  min-width: 1px;
  width: (290px*100%)/$mobile-width;
  padding-left: 15px;
  margin-left: 14px;
  margin-bottom: 12px;
  height: 41px;
  border: 1px solid $border-gray;
  outline-color: none;
  font-family: $Oswald;
  font-size: 16px;


  @media (min-width: $tablet-width) {
    width: (675px*100%)/$tablet-width;
    margin-right: (85px*100%)/$tablet-width;
    height: 48px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 80%;
    margin-right: 0;
    margin-left: 15px;
  }

  &::placeholder {
    font-family: $Oswald;
    font-weight: 400;
    text-transform: uppercase;
    color: $special_dark-grey;
    font-size: 16px;
    line-height: 18px;

    @-moz-document url-prefix("") {
      line-height: 40px;
      opacity: 1;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 47px;
    }
  }

  &--pet-name {
    @media (min-width: $tablet-width) {
      margin-bottom: 18px;
    }
  }

  &--weight {
    @media (min-width: $tablet-width) {
      margin-bottom: 18px;
    }

    @media (min-width: $desktop-width) {
      width: 74.5%;
    }
  }

  &--age {
    margin-bottom: 22px;

    @media (min-width: $desktop-width) {
      width: 68.3%;
      margin-left: 12px;
    }
  }
}

.questionnaire-pet-info__data-field[type="number"] {
  appearance: textfield;
}

.questionnaire-pet-info__data-field:hover {
  border-color: $special-grey;
}

.questionnaire-pet-info__data-field:focus {
  border-color: $special_dark-grey;
  border-width: 2px;
}

.questionnaire-pet-info__data-field:invalid {
  border-color: $error-red-color;
  border-width: 2px;
}
