.questionnaire-add-list {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding-top: 6px;
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 60px;
    padding-top: 4px;
  }
}

.questionnaire-add-list__item {
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    @include font-size-20;
    padding-bottom: 42px;
  }

  &:nth-child(even) {
    @media (min-width: $tablet-width) {
      padding-left: 19px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
    }
  }

  &:last-child {
    padding-bottom: 42px;

    @media (min-width: $desktop-width) {
      padding-left: 5px;
    }
  }

  &:not(:first-child) {
    @media (min-width: $desktop-width) {
      justify-self: center;
    }
  }

  &:nth-child(2) {
    @media (min-width: $desktop-width) {
      padding-right: 95px;
    }
  }

  &:nth-child(3) {
    @media (min-width: $desktop-width) {
      padding-right: 85px;
    }
  }
}

.questionnaire-add-list__item-name {
  position: relative;
  display: block;
  user-select: none;
  cursor: pointer;
}

.questionnaire-add-list__item-checkbox + .questionnaire-add-list__item-name::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -46px;
  width: 28px;
  height: 28px;
  border: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    left: -60px;
    top: -6px;
    width: 40px;
    height: 40px;
  }
}

.questionnaire-add-list__item-checkbox:checked + .questionnaire-add-list__item-name::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -40px;
  width: 18px;
  height: 14px;
  background-image: url("../img/green-tick.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 7px;
    left: -49px;
  }
}

.questionnaire-add-list__item-checkbox[disabled] + .questionnaire-add-list__item-name {
  opacity: 0.3;
}
