.questionnaire-additionally {
  position: relative;

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.questionnaire-additionally__headline {
  @include font-size-24;
  font-weight: normal;
  margin: 0;
  padding-top: 19px;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    @include font-size-36;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 64px;
  }


  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      height: 2px;
      width: 15%;
      max-width: 115px;
      top: 84px;
      left: -145px;
      background-color: $basic-green;
    }

    @media (min-width: $desktop-width) {
      top: 87px;
      left: -155px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 50%;
    left: 59%;
    top: 35px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 84px;
      left: 36%;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      top: 88px;
      left: 20%;
    }
  }
}
