.questionnaire-owner-info {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.questionnaire-owner-info__data {
  display: flex;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 47%;
  }
}

.questionnaire-owner-info__email {
  display: block;
  color: $special_dark-grey;
  text-transform: uppercase;
  padding-top: 10px;
  width: 65px;

  @media (min-width: $tablet-width) {
    @include font-size-20;
    width: 75px;
  }

  @media (min-width: $desktop-width) {
    width: 85px;
  }
}

.questionnaire-owner-info__phone {
  display: block;
  color: $special_dark-grey;
  text-transform: uppercase;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    @include font-size-20;
    padding-top: 9px;
  }
}

.questionnaire-owner-info__data-field {
  display: block;
  width: (280px*100%)/$mobile-width;
  padding-left: 15px;
  margin-left: 8px;
  margin-bottom: 14px;
  height: 41px;
  border: 1px solid $border-gray;
  outline-color: none;
  font-family: $Oswald;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: (650px*100%)/$tablet-width;
    margin-right: (85px*100%)/$tablet-width;
    margin-left: 16px;
    height: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-right: 0;
  }

  &--put-email {
    @media (min-width: $tablet-width) {
      margin-bottom: 19px;
      padding-left: 23px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 15px;
    }
  }

  &--put-phone-number {
    padding-left: 16px;
  }

  &::placeholder {
    font-family: $Oswald;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;

    @-moz-document url-prefix("") {
      line-height: 40px;
      opacity: 1;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 45px;
    }
  }
}

.questionnaire-owner-info__data-field:hover {
  border-color: $special-grey;
}

.questionnaire-owner-info__data-field:focus {
  border-color: $special_dark-grey;
  border-width: 2px;
}

.questionnaire-owner-info__data-field:invalid {
  border-color: $error-red-color;
  border-width: 2px;
}

.questionnaire-owner-info__data-icon-email {
  position: absolute;
  top: 16px;
  left: 88%;
  stroke: $special-second_dark-grey;
  stroke-width: 1.3;
  fill: $basic-white-color;

  @media (min-width: $tablet-width) {
    top: 19px;
    left: 84%;
  }

  @media (min-width: $desktop-width) {
    left: 93%;
  }
}

.questionnaire-owner-info__data-field:invalid + .questionnaire-owner-info__data-icon-email {
  stroke: $error-red-color;
}

.questionnaire-owner-info__data-field:focus + .questionnaire-owner-info__data-icon-email {
  stroke: $basic-green;
}

.questionnaire-owner-info__data-icon-phone {
  position: absolute;
  top: 13px;
  left: 88%;
  fill: $basic-black-color;

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 84%;
  }

  @media (min-width: $desktop-width) {
    left: 93.5%;
  }
}

.questionnaire-owner-info__data-field:invalid + .questionnaire-owner-info__data-icon-phone {
  fill: $error-red-color;
}

.questionnaire-owner-info__data-field:focus + .questionnaire-owner-info__data-icon-phone {
  fill: $basic-green;
}
