.questionnaire-program-filter {
  //@include outline;
  margin: 0;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: $menu-item-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
