.questionnaire-radio-list {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 1px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    width: 76%;
    margin-top: 10px;
    padding-left: 88px;
    padding-top: 30px;
    padding-bottom: 9px;
    border: 1px solid $border-gray;
  }

  @media (min-width: $desktop-width) {
    width: 79%;
    margin-top: 0;
    margin-left: 39px;
  }
}

.questionnaire-radio-list__item {
  padding-bottom: 24px;
  color: $special-second_dark-grey;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    @include font-size-20;
    padding-bottom: 22px;
    padding-left: 0;
  }
}

.questionnaire-radio-list__item-checkbox-name {
  position: relative;
  display: block;
  user-select: none;
  cursor: pointer;
}

.questionnaire-radio-list__item-checkbox + .questionnaire-radio-list__item-checkbox-name::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -46px;
  width: 28px;
  height: 28px;
  border: 1px solid $special-grey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 39px;
    height: 39px;
    left: -60px;
  }
}

.questionnaire-radio-list__item-checkbox:checked + .questionnaire-radio-list__item-checkbox-name--checked::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 2px;
  left: -38px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 17px;
    height: 17px;
    left: -48px;
    top: 6px;
  }
}

.questionnaire-radio-list__item-checkbox[disabled] + .questionnaire-radio-list__item-checkbox-name--checked {
  opacity: 0.3;
}
